@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-border: hsl(var(--border));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-imageViewerIconColor: hsl(var(--imageViewerIconColor));
  --color-imageViewerIconColorHover: hsl(var(--imageViewerIconColorHover));
}

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;

  --fontColor: 0 0% 48%;

  --buttonColor: 224 71.4% 4.1%;
  --buttonTextColor: 0 0% 100%;

  --borderColor: 0 0% 94%;
  --borderColorVariant: 0 0% 88%;

  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --primary: 220.9 39.3% 11%;
  --primary-foreground: 210 20% 98%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 224 71.4% 4.1%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;

  --imageViewerIconColor: 198 0% 75%;
  --imageViewerIconColorHover: 198 0% 50%;
}

.dark {
  --background: 0 0% 3%;
  --foreground: 210 20% 98%;

  --fontColor: 0 0% 58%;

  --buttonColor: 0 0% 100%;
  --buttonTextColor: 224 71.4% 4.1%;

  --borderColor: 0 0% 8%;
  --borderColorVariant: 0 0% 16%;

  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --primary: 210 20% 98%;
  --primary-foreground: 220.9 39.3% 11%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --ring: 216 12.2% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;


}

/* Add this new components layer */
@layer components {
  .image-viewer-icon {
    /* We use flex & center to align the SVG perfectly.
      We replaced 'gray' with your semantic theme colors! 
    */
    @apply text-lg text-imageViewerIconColor hover:text-imageViewerIconColorHover;
  }

  .image-viewer-dot-icon {
    /* We use flex & center to align the SVG perfectly.
      We replaced 'gray' with your semantic theme colors! 
    */
    @apply text-lg bg-imageViewerIconColor hover:bg-imageViewerIconColorHover;
  }
}

/* Theme variables */
@layer base {

  /* Global styles */
  * {
    @apply border-border;
  }

  body {

    @apply bg-background text-foreground;
  }

  input {
    outline: none
  }

  .scrollbar-mac {
    scrollbar-width: thin;
    scrollbar-color: rgba(120, 120, 120, .4) transparent;
  }

  .scrollbar-mac::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-mac::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-mac::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, .4);
    border-radius: 999px;

    /* creates spacing around thumb */
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-mac::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 120, 120, .7);
    background-clip: content-box;
  }


  .scrollbar-mac::-webkit-scrollbar-button,
  .scrollbar-mac::-webkit-scrollbar-button:single-button,
  .scrollbar-mac::-webkit-scrollbar-button:start:decrement,
  .scrollbar-mac::-webkit-scrollbar-button:end:increment {
    display: none;
    width: 0;
    height: 0;
  }

  .scrollbar-mac::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: #8888;
  }
}