@import "./SCSS/agentbar.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /*** Font Sizes ***/
    --font-xxs: 8px 'Inter', sans-serif;
    --font-xs: 10px 'Inter', sans-serif;
    --font-s: 12px 'Inter', sans-serif;
    --font-m: 14px 'Inter', sans-serif;
    --font-l: 16px 'Inter', sans-serif;
    --font-xl: 20px 'Inter', sans-serif;
    --font-xxl: 24px 'Inter', sans-serif;

    /*** Font Weights ***/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*** Line Heights ***/
    --line-height-tight: 1.2;
    --line-height-regular: 1.5;
    --line-height-loose: 1.8;

    /*** Letter Spacing ***/
    --letter-spacing-tight: -0.02em;
    --letter-spacing-regular: 0em;
    --letter-spacing-loose: 0.02em;

    /*** Border ***/

    --primary-border: 1px solid var(--border-default);
    --secondary-border: 1px solid var(--border-light);
    --focus-border: 2px solid var(--interactive-border-focus);

    /*** Input Sizes ***/
    --input-height-s: 24px;
    --input-height-m: 32px;
    --input-height-l: 40px;

    /*** padding Sizes ***/
    --padding-s: 8px;
    --padding-m: 10px;
    --padding-l: 12px;
    --padding-xl: 14px;
    --padding-xxl: 16px;

    /*** Border Radius ***/
    --border-side-circle: 20px;
    --border-circle-side: 100px;
    --border-circle: 50%;


}

:root {
    --bg-primary: #fff;
    --bg-primary-inverted: #000;
    --bg-secondary: #e8e8e8;
    --bg-tertiary: #f3f3f3;
    --bg-scrim: #0d0d0d80;
    --bg-elevated-primary: #fff;
    --bg-elevated-secondary: #f9f9f9;
    --bg-accent-static: #0285ff;
    --bg-status-warning: #fff5f0;
    --bg-status-error: #fff0f0;
    --border-default: #0d0d0d1a;
    --border-heavy: #0d0d0d26;
    --border-light: #0d0d0d0d;
    --border-status-warning: #ffe7d9;
    --border-status-error: #ffe1e0;
    --text-primary: #0d0d0d;
    --text-secondary: #5d5d5d;
    --text-tertiary: #8f8f8f;
    --text-inverted: #fff;
    --text-inverted-static: #fff;
    --text-accent: #66b5ff;
    --text-status-warning: #e25507;
    --text-status-error: #e02e2a;
    --icon-primary: #0d0d0d;
    --icon-secondary: #5d5d5d;
    --icon-tertiary: #8f8f8f;
    --icon-inverted: #fff;
    --icon-inverted-static: #fff;
    --icon-accent: #0285ff;
    --icon-status-warning: #e25507;
    --icon-status-error: #e02e2a;
    --interactive-bg-primary-default: #0d0d0d;
    --interactive-bg-primary-hover: #0d0d0dcc;
    --interactive-bg-primary-press: #0d0d0de5;
    --interactive-bg-primary-inactive: #0d0d0d;
    --interactive-bg-primary-selected: #0d0d0d;
    --interactive-bg-secondary-default: #0d0d0d00;
    --interactive-bg-secondary-hover: #0d0d0d05;
    --interactive-bg-secondary-press: #0d0d0d0d;
    --interactive-bg-secondary-inactive: #0d0d0d00;
    --interactive-bg-secondary-selected: #0d0d0d0d;
    --interactive-bg-tertiary-default: #fff;
    --interactive-bg-tertiary-hover: #f9f9f9;
    --interactive-bg-tertiary-press: #f3f3f3;
    --interactive-bg-tertiary-inactive: #fff;
    --interactive-bg-tertiary-selected: #fff;
    --interactive-bg-accent-default: #e5f3ff;
    --interactive-bg-accent-hover: #cce6ff;
    --interactive-bg-accent-muted-hover: #ebf4ff;
    --interactive-bg-accent-muted-context: #ebf4ff80;
    --interactive-bg-accent-press: #99ceff;
    --interactive-bg-accent-muted-press: #e0efff;
    --interactive-bg-accent-inactive: #e5f3ff;
    --interactive-bg-danger-primary-default: #e02e2a;
    --interactive-bg-danger-primary-hover: #fa423e;
    --interactive-bg-danger-primary-press: #ba2623;
    --interactive-bg-danger-primary-inactive: #e02e2a;
    --interactive-bg-danger-secondary-default: #0d0d0d00;
    --interactive-bg-danger-secondary-hover: #0d0d0d00;
    --interactive-bg-danger-secondary-press: #0d0d0d00;
    --interactive-bg-danger-secondary-inactive: #0d0d0d00;
    --interactive-border-focus: #0d0d0d;
    --interactive-border-secondary-default: #0d0d0d1a;
    --interactive-border-secondary-hover: #0d0d0d0d;
    --interactive-border-secondary-press: #0d0d0d0d;
    --interactive-border-secondary-inactive: #0d0d0d1a;
    --interactive-border-tertiary-default: #0d0d0d1a;
    --interactive-border-tertiary-hover: #0d0d0d1a;
    --interactive-border-tertiary-press: #0d0d0d0d;
    --interactive-border-tertiary-inactive: #0d0d0d1a;
    --interactive-border-danger-secondary-default: #e02e2a;
    --interactive-border-danger-secondary-hover: #fa423e;
    --interactive-border-danger-secondary-press: #ba2623;
    --interactive-border-danger-secondary-inactive: #e02e2a;
    --interactive-label-primary-default: #fff;
    --interactive-label-primary-hover: #fff;
    --interactive-label-primary-press: #fff;
    --interactive-label-primary-inactive: #fff;
    --interactive-label-primary-selected: #fff;
    --interactive-label-secondary-default: #0d0d0d;
    --interactive-label-secondary-hover: #0d0d0de5;
    --interactive-label-secondary-press: #0d0d0dcc;
    --interactive-label-secondary-inactive: #0d0d0d;
    --interactive-label-secondary-selected: #0d0d0d;
    --interactive-label-tertiary-default: #5d5d5d;
    --interactive-label-tertiary-hover: #5d5d5d;
    --interactive-label-tertiary-press: #5d5d5d;
    --interactive-label-tertiary-inactive: #5d5d5d;
    --interactive-label-tertiary-selected: #5d5d5d;
    --interactive-label-accent-default: #0285ff;
    --interactive-label-accent-hover: #0285ff;
    --interactive-label-accent-press: #0285ff;
    --interactive-label-accent-inactive: #0285ff;
    --interactive-label-accent-selected: #0285ff;
    --interactive-label-danger-primary-default: #fff;
    --interactive-label-danger-primary-hover: #fff;
    --interactive-label-danger-primary-press: #fff;
    --interactive-label-danger-primary-inactive: #fff;
    --interactive-label-danger-secondary-default: #e02e2a;
    --interactive-label-danger-secondary-hover: #fa423e;
    --interactive-label-danger-secondary-press: #ba2623;
    --interactive-label-danger-secondary-inactive: #e02e2a;
    --interactive-icon-primary-default: #fff;
    --interactive-icon-primary-hover: #fff;
    --interactive-icon-primary-press: #fff;
    --interactive-icon-primary-selected: #fff;
    --interactive-icon-primary-inactive: #fff;
    --interactive-icon-secondary-default: #0d0d0d;
    --interactive-icon-secondary-hover: #0d0d0de5;
    --interactive-icon-secondary-press: #0d0d0dcc;
    --interactive-icon-secondary-selected: #0d0d0d;
    --interactive-icon-secondary-inactive: #0d0d0d;
    --interactive-icon-tertiary-default: #5d5d5d;
    --interactive-icon-tertiary-hover: #5d5d5d;
    --interactive-icon-tertiary-press: #5d5d5d;
    --interactive-icon-tertiary-selected: #5d5d5d;
    --interactive-icon-tertiary-inactive: #5d5d5d;
    --interactive-icon-accent-default: #0285ff;
    --interactive-icon-accent-hover: #0285ff;
    --interactive-icon-accent-press: #0285ff;
    --interactive-icon-accent-selected: #0285ff;
    --interactive-icon-accent-inactive: #0285ff;
    --interactive-icon-danger-primary-default: #fff;
    --interactive-icon-danger-primary-hover: #fff;
    --interactive-icon-danger-primary-press: #fff;
    --interactive-icon-danger-primary-inactive: #fff;
    --interactive-icon-danger-secondary-default: #e02e2a;
    --interactive-icon-danger-secondary-hover: #fa423e;
    --interactive-icon-danger-secondary-press: #ba2623;
    --interactive-icon-danger-secondary-inactive: #e02e2a;
    --utility-scrollbar: #0000000a;
}

.dark-mode {
    --bg-primary: #212121;
    --bg-primary-inverted: #fff;
    --bg-secondary: #303030;
    --bg-tertiary: #414141;
    --bg-scrim: #0d0d0d80;
    --bg-elevated-primary: #303030;
    --bg-elevated-secondary: #181818;
    --bg-accent-static: #0285ff;
    --bg-status-warning: #4a2206;
    --bg-status-error: #4d100e;
    --border-default: #ffffff26;
    --border-heavy: #fff3;
    --border-light: #ffffff0d;
    --border-status-warning: #4a2206;
    --border-status-error: #4d100e;
    --text-primary: #fff;
    --text-secondary: #f3f3f3;
    --text-tertiary: #afafaf;
    --text-inverted: #0d0d0d;
    --text-inverted-static: #fff;
    --text-accent: #66b5ff;
    --text-status-warning: #ff9e6c;
    --text-status-error: #ff8583;
    --icon-primary: #e8e8e8;
    --icon-secondary: #cdcdcd;
    --icon-tertiary: #afafaf;
    --icon-inverted: #0d0d0d;
    --icon-inverted-static: #fff;
    --icon-accent: #66b5ff;
    --icon-status-warning: #ff9e6c;
    --icon-status-error: #ff8583;
    --interactive-bg-primary-default: #fff;
    --interactive-bg-primary-hover: #fffc;
    --interactive-bg-primary-press: #ffffffe5;
    --interactive-bg-primary-inactive: #fff;
    --interactive-bg-primary-selected: #fff;
    --interactive-bg-secondary-default: #fff0;
    --interactive-bg-secondary-hover: #ffffff1a;
    --interactive-bg-secondary-press: #ffffff0d;
    --interactive-bg-secondary-inactive: #fff0;
    --interactive-bg-secondary-selected: #ffffff1a;
    --interactive-bg-tertiary-default: #212121;
    --interactive-bg-tertiary-hover: #181818;
    --interactive-bg-tertiary-press: #0d0d0d;
    --interactive-bg-tertiary-inactive: #212121;
    --interactive-bg-tertiary-selected: #212121;
    --interactive-bg-accent-default: #013566;
    --interactive-bg-accent-hover: #003f7a;
    --interactive-bg-accent-muted-hover: #394a5b;
    --interactive-bg-accent-muted-context: #394a5b80;
    --interactive-bg-accent-press: #004f99;
    --interactive-bg-accent-muted-press: #40484f;
    --interactive-bg-accent-inactive: #013566;
    --interactive-bg-danger-primary-default: #e02e2a;
    --interactive-bg-danger-primary-hover: #fa423e;
    --interactive-bg-danger-primary-press: #ba2623;
    --interactive-bg-danger-primary-inactive: #e02e2a;
    --interactive-bg-danger-secondary-default: #fff0;
    --interactive-bg-danger-secondary-hover: #fff0;
    --interactive-bg-danger-secondary-press: #fff0;
    --interactive-bg-danger-secondary-inactive: #fff0;
    --interactive-border-focus: #fff;
    --interactive-border-secondary-default: #ffffff26;
    --interactive-border-secondary-hover: #ffffff26;
    --interactive-border-secondary-press: #fff3;
    --interactive-border-secondary-inactive: #ffffff1a;
    --interactive-border-tertiary-default: #ffffff1a;
    --interactive-border-tertiary-hover: #ffffff26;
    --interactive-border-tertiary-press: #ffffff1a;
    --interactive-border-tertiary-inactive: #ffffff1a;
    --interactive-border-danger-secondary-default: #fa423e;
    --interactive-border-danger-secondary-hover: #ff6764;
    --interactive-border-danger-secondary-press: #e02e2a;
    --interactive-border-danger-secondary-inactive: #fa423e;
    --interactive-label-primary-default: #0d0d0d;
    --interactive-label-primary-hover: #0d0d0d;
    --interactive-label-primary-press: #0d0d0d;
    --interactive-label-primary-inactive: #0d0d0d;
    --interactive-label-primary-selected: #0d0d0d;
    --interactive-label-secondary-default: #f3f3f3;
    --interactive-label-secondary-hover: #ffffffe5;
    --interactive-label-secondary-press: #fffc;
    --interactive-label-secondary-inactive: #f3f3f3;
    --interactive-label-secondary-selected: #f3f3f3;
    --interactive-label-tertiary-default: #cdcdcd;
    --interactive-label-tertiary-hover: #cdcdcd;
    --interactive-label-tertiary-press: #cdcdcd;
    --interactive-label-tertiary-inactive: #cdcdcd;
    --interactive-label-tertiary-selected: #cdcdcd;
    --interactive-label-accent-default: #99ceff;
    --interactive-label-accent-hover: #99ceff;
    --interactive-label-accent-press: #99ceff;
    --interactive-label-accent-inactive: #99ceff;
    --interactive-label-accent-selected: #99ceff;
    --interactive-label-danger-primary-default: #fff;
    --interactive-label-danger-primary-hover: #fff;
    --interactive-label-danger-primary-press: #fff;
    --interactive-label-danger-primary-inactive: #fff;
    --interactive-label-danger-secondary-default: #fa423e;
    --interactive-label-danger-secondary-hover: #ff6764;
    --interactive-label-danger-secondary-press: #e02e2a;
    --interactive-label-danger-secondary-inactive: #fa423e;
    --interactive-icon-primary-default: #0d0d0d;
    --interactive-icon-primary-hover: #0d0d0d;
    --interactive-icon-primary-press: #0d0d0d;
    --interactive-icon-primary-selected: #0d0d0d;
    --interactive-icon-primary-inactive: #0d0d0d;
    --interactive-icon-secondary-default: #f3f3f3;
    --interactive-icon-secondary-hover: #ffffffe5;
    --interactive-icon-secondary-press: #fffc;
    --interactive-icon-secondary-selected: #f3f3f3;
    --interactive-icon-secondary-inactive: #f3f3f3;
    --interactive-icon-tertiary-default: #cdcdcd;
    --interactive-icon-tertiary-hover: #cdcdcd;
    --interactive-icon-tertiary-press: #cdcdcd;
    --interactive-icon-tertiary-selected: #cdcdcd;
    --interactive-icon-tertiary-inactive: #cdcdcd;
    --interactive-icon-accent-default: #99ceff;
    --interactive-icon-accent-hover: #99ceff;
    --interactive-icon-accent-press: #99ceff;
    --interactive-icon-accent-selected: #99ceff;
    --interactive-icon-accent-inactive: #99ceff;
    --interactive-icon-danger-primary-default: #fff;
    --interactive-icon-danger-primary-hover: #fff;
    --interactive-icon-danger-primary-press: #fff;
    --interactive-icon-danger-primary-inactive: #fff;
    --interactive-icon-danger-secondary-default: #fa423e;
    --interactive-icon-danger-secondary-hover: #ff6764;
    --interactive-icon-danger-secondary-press: #e02e2a;
    --interactive-icon-danger-secondary-inactive: #fa423e;
    --utility-scrollbar: #fff3;
}

*,
::backdrop,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*:focus,
*:focus-visible {
    outline: none;
}